<div class="panel panel-default" style="margin-bottom: 0px;">
	<div class="panel-heading">Questionnaire</div>
	<div class="panel-body">
        <div class="alert alert-danger" role="alert" ng-if="vm.messages.length" ng-repeat="item in vm.messages">{{ item }}</div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4">Score</label>
                    <div class="col-md-8"><input type="number" min="0" max="50" ng-model="vm.score" placeholder="Score" class="form-control" ng-disabled="!vm.isAdmin"/></div>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
        <hr/>
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 45px;">No.</th>
                    <th>Question</th>
                    <th>Answer</th>
                    <th ng-if="vm.isAdmin">Remark</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vm.questionList">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ item.question }}</td>
                    <td ng-if="!vm.isAdmin"><textarea class="form-control" ng-model="vm.answerSheet[$index].answer" ng-disabled="!vm.editMode"></textarea></td>

                    <td ng-if="vm.isAdmin">{{ vm.answerSheet[$index].answer }}</td>
                    <td ng-if="vm.isAdmin"><textarea class="form-control" ng-model="vm.remarkList[$index].remark" ng-disabled="!vm.editMode"></textarea></td>
                </tr>
            </tbody>
        </table>
	</div>
	<div class="panel-footer clearfix">
        <div ng-if="!vm.editMode">
            <input type="button" value="Close" class="btn btn-default pull-right" ng-click="vm.close()"/>
    		<input type="submit" value="Answer" ng-if="!vm.questionnaireData || (vm.questionnaireData && vm.questionnaireData.status)" class="btn btn-primary pull-right" ng-click="vm.edit()"/>
        </div>
        <div ng-if="vm.editMode">
            <input type="submit" value="Save" class="btn btn-primary pull-right" ng-click="vm.update()"/>
            <input type="button" value="Cancel" class="btn btn-default pull-right" ng-click="vm.cancel()"/>
        </div> 
	</div>
</div>