@import url('https://fonts.googleapis.com/css?family=Griffy');

body {
	background-color: #b10574;
	background-image: url("../img/binding-light.png");
}

/* Common */
.margin-left-10 {
	margin-left: 10px;
}

.margin-right-10 {
	margin-right: 10px;
}

.km-alert-error {
	color: red;
}

.km-alert-success {
	color: green;
}

.alert-small {
	padding: 7px;
}

/* Login */
#loginForm > .panel {
	width: 530px;
}

.frog-img-large {
	background-image: url("../img/frog.png");
	background-size: contain;
	height: 150px;
	width: 150px;
	background-repeat: no-repeat; 
}

.kokak-title {
	font-family: Griffy;
	font-size: 42pt;
	line-height: 114%;
}

.kokak-subtitle {
	font-style: italic;
    font-size: 19px;
    color: #6d6d6d;
    text-align: center;
}

/* Registration */
.registrationForm > .panel {
	width: 530px;
}

.nav-kokak {
	background-image: -webkit-linear-gradient(top,#af3fc3 0,#71267F 100%);
	border-radius: 0px;
	border: 0px;
	box-shadow: 0px 0px 10px rgba(10,10,10,0.3);
}

.navbar-kokak {
	font-family: Griffy;
	color: white;
	font-size: 20pt;
}

.navbar-header-kokak {
	margin-top: 5px;
}