@import url('https://fonts.googleapis.com/css?family=Griffy');

body {
	background-color: #b10574;
	background-image: url("../img/binding-light.png");
}

/* Common */
.margin-left-10 {
	margin-left: 10px;
}

.margin-right-10 {
	margin-right: 10px;
}

.km-alert-error {
	color: red;
}

.km-alert-success {
	color: green;
}

.alert-small {
	padding: 7px;
}

/* Login */
#loginForm > .panel {
	width: 530px;
}

.frog-img-large {
	background-image: url("../img/frog.png");
	background-size: contain;
	height: 150px;
	width: 150px;
	background-repeat: no-repeat; 
}

.kokak-title {
	font-family: Griffy;
	font-size: 42pt;
	line-height: 114%;
}

.kokak-subtitle {
	font-style: italic;
    font-size: 19px;
    color: #6d6d6d;
    text-align: center;
}

/* Registration */
.registrationForm > .panel {
	width: 530px;
}

.nav-kokak {
	background-image: -webkit-linear-gradient(top,#af3fc3 0,#71267F 100%);
	border-radius: 0px;
	border: 0px;
	box-shadow: 0px 0px 10px rgba(10,10,10,0.3);
}

.navbar-kokak {
	font-family: Griffy;
	color: white;
	font-size: 20pt;
	position: relative;
	top: -10px;
	left: 8px;
}

.navbar-header-kokak {
	margin-top: 5px;
}

.footer-kokak {
	background-image: -webkit-linear-gradient(top,#bfa3c5 0,#8f7194 100%);
	position: fixed;
	width: 100%;
	bottom: 0;
	height: 30px;
}

.container-kokak {
	padding: 15px;
}

.copyright {
	line-height: 2.5;
	text-align: center;
	margin: 0 0 0 !important;
	color: #e2dada;
	font-size: 12px;
	font-weight: bold;
}

.frog-img-nav {
	display: inline-block;
	height: 37px;
	width: 37px;
	margin-top: 4px;
}

.heading-big {
	font-weight: bold;
	font-size: 18px;
	color: #8e8585 !important;
}

.navbar-default .navbar-nav>li>a {
	color: #eae1e1;
}

.navbar-default .navbar-nav>li>a:hover {
	color: white;
}

.navbar-default .navbar-nav>li>a:focus {
	color: white;
}

.navbar-default .navbar-nav>li>a:active {
	color: white;
}

.dropdown-toggle {
	font-size: 12px;
}

.bold {
	font-weight: bold;
}

.user-icon {
	background-image: url(../img/photo.jpg);
	background-size: contain;
	height: 28px;
	width: 28px;
	background-repeat: no-repeat;
	display: table-cell;
	margin-right: 0;
	float: left;
	margin-top: -5px;
}

.margin-left-30 {
	margin-left: 30px;
}

.head-user-container {
	display: table;
	width: 100%;
}

.head-user-title {
	margin-left: 15px;
	display: inline-block;
	line-height: 1.8;
}

.form-group > label {
	margin-top: 5px !important;
}

.panel-footer > .btn.pull-right {
	margin-left: 10px;
}

.panel-footer > div > .btn.pull-right {
	margin-left: 10px;
}

.col-md-6 > .form-group > .k-widget {
	width: 100%;
}