<div ng-controller="enrolmentCtrl as search">
    <div class="panel panel-default">
        <div class="panel-heading heading-big">Search Enrolment
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4">Pond Admin</label>
                        <div class="col-md-8">
                            <input type="text" maxlength="25" placeholder="Pond Admin" class="form-control" ng-model="search.criteria.pondAdminName"/>
                        </div>
                    </div>
                </div>
            	<div class="col-md-4">
            		<div class="form-group">
            			<label class="col-md-4">Pond Name</label>
            			<div class="col-md-8">
            				<input type="text" maxlength="25" placeholder="Pond Name" class="form-control" ng-model="search.criteria.pondName"/>
            			</div>
        			</div>
            	</div>
            	<div class="col-md-4"></div>
            </div>
        </div>
        <div class="panel-footer clearfix">
            <span style="font-size: 10pt;color: #a28e8e;"><b>NOTE: </b> Search criteria accepts percentage (%), underscores (_) and hyphens (-) as special characters.</span>
        	<input type="button" value="Search" class="btn btn-primary btn-sm pull-right" ng-disabled="!search.criteria.pondName && !search.criteria.pondAdminName" ng-click="search.go()"/>
            <input type="button" value="Clear" class="btn btn-default btn-sm pull-right" ng-click="search.clear()"/>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading heading-big">My Enrolments</div>
        <div class="panel-body"> 
            <div kendo-grid="searchEnrolmentGrid" options="searchEnrolmentGridOptions"></div>  
        </div>
    </div>
</div>