<div>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand">SEEK Ads Checkout System</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a ui-sref="app.captureAds">Checkout Ads</a></li>
					<li class="dropdown" uib-dropdown>
						<a href="#" class="dropdown-toggle" uib-dropdown-toggle data-toggle="dropdown" role="button" aria-haspopoup="true" aria-expanded="false">
							Master Data Setup
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a ui-sref="app.adsMst">Ad Master</a></li>
							<li><a ui-sref="app.customerMst">Customer Master</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>