<nav class="navbar navbar-default nav-kokak" ng-controller="headerCtrl as vm">
	<div class="container-fluid">
		<div class="navbar-header-kokak">
			<span class="frog-img-large frog-img-nav"></span>
			<span class="navbar-kokak">Kokak Lush</span>

			<ul class="nav navbar-nav navbar-right">
				<li><a ui-sref="app.dashboard" class="bold">Dashboard</a></li>
				<li><a ui-sref="app.searchPondAdmin" class="bold">Pond Admins</a></li>
				<li><a ui-sref="app.searchPond" class="bold">Ponds</a></li> 
				<li><a class="bold">Enrolments</a></li>

				<li class="dropdown margin-left-30" uib-dropdown>
					<a href="#" class="dropdown-toggle" uib-dropdown-toggle data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						<div class="head-user-container">
							<span class="user-icon"></span>
							<span class="head-user-title">{{ vm.userName }}</span> <span class="caret"></span>
						</div>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#">Logout</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>